{% extends 'shop/start.html' %}


{% block content %}


<br><br><br><br>


<h1> Акт списания номер: {{ number }} </h1>
<h1> Дата: {{ expense_doc.time_create }} </h1>

<h3>Название товара | Количество</h3>
<!--тут отрисовка списка товаров-->
{% for i in expense_good_list %}

<h3>{{ i.product }} | {{ i.quantity }}  {% if expense_doc.state == False %} <a href="{% url 'expense_delete_goods' i.id %}"><button class="delete_expense">Удалить товар</button></a> {% endif %} </h3>


{% endfor %}

<!-- номер документа прокидывается как параметр в функцию для добавления товара ниже -->
{% if expense_doc.state == False %}
<a href="{% url 'expense_add_goods' number %}"><h3>Добавить позицию товара</h3></a>

<a href="{% url 'expense_document_activate' number %}"><button class="activate_expense">Провести документ</button></a>

{% else %}

<a href="{% url 'expense_document_deactivate' number %}"><button class="deactivate_expense">Отмена проведения документа</button></a>

{% endif %}


{% endblock %}


