{% extends 'shop/good.html' %}


{% block goods %}

<br><br>
{% load floattags %}

<form action="{% url 'goods_modify' good_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

<!-- enctype="multipart/form-data" это для передачи файлов любых, картинок xls и тд-->


    <p>Название товара: <input name="name_product" type="text" value="{{ good.name_product }}"></p>
    <p>Артикул: <input name="vendor_code" type="text" value="{{ good.vendor_code }}"></p>

    <p>Цена: <input name="price" type="number" step=0.1 value={{ good.price|formatted_float }}></p>
  
    <label for="{{ good.name_group }}">Выберите группу:</label>


    <!-- selected выбирает конкретный пункт из выпадающего меню, у меня он пробегает цикл, потом на последнем элементе оставляет selected , нужно как то сделать, чтобы выбиралась нужная мне группа-->

    <select id="group" name="group" >

        {% for i in groups %}

        {% if good.group.name_group == i.name_group %}
            <option value="{{ i.id }}" selected>{{ i.name_group }} </option>

        {% endif %}

            <option value="{{ i.id }}">{{ i.name_group }} </option>
        
        {% endfor %}
    </select>

    <br><br>

    <p>Фото: <input type="file" name="photo" ></p>
    
    <br><br>

    <button type="submit">Сохранить изменения</button>

</form>






{% endblock %}


