{% extends 'shop/start.html' %}


{% block content %}

<aside>

<a href="{% url 'goods_list' %}"><h4>Все группы товаров</h4></a>

{% for i in groups %}

		<li>
			<a href="{% url 'group_show' i.slug %}">{{ i.name_group }}</a>

		</li>
		<br>


{% endfor %}

</aside>

<br><br>


<a href="{% url 'goods_add' %}"><button class="add_good">Добавить товар</button></a>

&nbsp &nbsp

<a href="{% url 'group_add' %}"><button class="add_good">Добавить группу товара</button></a>

<br>
<br>
<!-- форма поиска товара -->
<div class="search_good">
<form action="{% url 'goods_list' %}" method="get">

	<input type="search" type="text" name='q' placeholder="Введите название товара">

	<button type="submit">Найти</button>
</form>
</div>

{% block goods %}


{% for j in gd %}

	<div id="goods">
{% if j.photo %}
<p><img class="product-img" src="{{j.photo.url}}"></p>
{% endif %}
	<h1> {{j.name_product}}</h1>
<p> Цена {{j.price}}</p>
<p> Остаток {{j.stock}}</p>


</div>

{% endfor %}
			</nobr>

{% endblock %}



{% endblock %}


