{% extends 'shop/good.html' %}


{% block goods %}

<br><br>


<form action="{% url 'goods_modify' good_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

<!-- enctype="multipart/form-data" это для передачи файлов любых, картинок xls и тд-->
<div class="form-error">{{ form.non_field_errors }}</div>


# <p><label class="form-label" for="{{ form.name_product.id_for_label }}">Название товара: </label>{{ form.name_product }} </p>
    <p>Название товара: <input name="name_product" type="text" value="{{ good.name_product }}"></p>
    <p>Артикул: <input name="vendor_code" type="text" value="{{ good.vendor_code }}"></p>
    <p>Цена: <input name="price" type="text" value="{{ good.price }}"></p>

<p><label class="form-label" for="{{ form.group.id_for_label }}">Группа: </label>{{ form.group }}</p>



    <button type="submit">Сохранить изменения</button>

</form>






{% endblock %}


