{% extends 'shop/start.html' %}


{% block content %}
{% load floattags %}

<br><br>
тут будет загрузка файла

<br><br>


<h1> Номер инвентаризации: {{ number_inv }} </h1>
<h1> Дата {{ inv_number_obj.time_create }} </h1>

<h3>Название товара | Количество</h3>

<!--тут отрисовка списка товаров с формой ввода нового колва -->

<form action="{% url 'inventory_open' number_inv %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for i in inv_good_list %}

    <h3>{{ i.product }} |Количество было: {{ i.quantity_old }}  {% if inv_number_obj.state == False %} |
    Количество стало: <input name="{{ i.id }}" type="number" step=0.1 value={{ i.quantity_new|formatted_float }}>

	 {% endif %} </h3>


    {% endfor %}

    <button type="submit">Сохранить</button>


</form>


<!-- перебираем буфер и сопоставляем -->
<!--тут буффер может не понадобиться, подумать-->

{% if inv_buffer %}

<h3>Этих товаров нет в базе</h3>

{% endif %}


{% for i in inv_buffer %}

<h3>{{ i.product }} | {{ i.quantity }}  {% if inv_number_obj.state == False %}
	логика
	{% endif %} </h3>

{% endfor %}


<!--проведение и деактивация и сохранение документа ниже-->
{% if inv_number_obj.state == False %}
<a href="{% url 'inventory_add_group' number_inv %}"><h3>Добавить группу товара</h3></a>


<a href="{% url 'inventory_activate' number_inv %}"><button class="activate">Провести</button></a>


{% else %}
<br>
<a href="{% url 'inventory_deactivate' number_inv %}"><button class="deactivate">Отменить проведение</button></a>

{% endif %}



{% endblock %}


