{% extends 'shop/start.html' %}


{% block content %}

<h1>Добавление группы</h1>

<br><br><br><br>

<form action="{% url 'inventory_add_group' inv_number %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <select id="group_inv" name="group_inv">

        {% for j in groups_query %}

            <option value="{{ j.id }}">{{ j.name_group }} </option>
        
        {% endfor %}
    </select>
    <br><br>


    <button type="submit">Добавить группу</button>

   
</form>





{% endblock %}


