{% extends 'shop/start.html' %}


{% block content %}

<h1>Список инвентаризаций</h1>

<a href="{% url 'inventory_create' %}"><h1>Создать инвентаризацию</h1></a>
<br>

{% for j in inventory_list_view %}

<h1> Номер: {{j.id}} || Дата: {{j.time_create}} || <a href="{% url 'inventory_open' j.id %}"><button class="open_inv">Открыть документ</button></a> || {% if j.state == False %} <a href="{% url 'inventory_delete' j.id %}"><button class="delete_receipt">Удалить документ</button></a> {% endif %} </h1>

{% if j.state %}
<h1>Проведен</h1>
{% endif %}

<h3>Комментарий: {{j.comment}}</h3>
<p>__________________________________________________</p>

{% endfor %}




{% endblock %}


