{% extends 'shop/start.html' %}


{% block content %}
{% load floattags %}

<br><br>



{% if inv_number_obj.state == False %}
<a href="{% url 'inventory_load_file' number_inv %}"><button>Загрузить файл инвентаризации</button></a>
{% endif %}


<br><br>


<h1> Номер инвентаризации: {{ number_inv }} </h1>
<h1> Дата {{ inv_number_obj.time_create }} </h1>

<a href="{% url 'inventory_update_quantity' number_inv %}"><button>Обновить остаток из базы</button></a>

<br>
<h3>Название товара | Количество</h3>

<!--тут отрисовка списка товаров с формой ввода нового колва -->

<form action="{% url 'inventory_open' number_inv %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for i in inv_good_list %}

    <h3>{{ i.product }} |Количество было: {{ i.quantity_old }}  {% if inv_number_obj.state == False %} |
    Количество стало: <input name="{{ i.id }}" type="number" step=0.1 value={{ i.quantity_new|formatted_float }}>

    

	{% endif %} </h3>


    {% endfor %}

    <button type="submit">Сохранить</button>


</form>





<!-- перебираем буфер и сопоставляем -->
<!--тут буффер может не понадобиться, подумать-->

{% if inv_buffer %}

<h3>Этих товаров нет в базе</h3>

<a href="{% url 'url_from_load_error_inv' %}"><button class="error_inv">Скачать файл с ошибками</button></a>

{% endif %}


{% for i in inv_buffer %}

<h3>{{ i.product }} | {{ i.quantity_new }}  {% if inv_number_obj.state == False %}

    <a href="{% url 'inventory_add_if_not_in_base' i.id %}"><button class="inventory_add">Добавить в инвентаризацию</button></a>
	<a href="{% url 'inventory_change_if_not_in_base' i.id %}"><button class="inventory_buffer_change">Заменить на другой товар</button></a>
    <a href="{% url 'inventory_delete_position_if_not_in_base' i.id %}"><button class="delete_inv_buffer_position">Удалить</button></a>

	{% endif %} </h3>

{% endfor %}


<!--проведение и деактивация и сохранение документа ниже-->
{% if inv_number_obj.state == False %}
<a href="{% url 'inventory_add_group' number_inv %}"><h3>Добавить группу товара</h3></a>


<a href="{% url 'inventory_activate' number_inv %}"><button class="activate">Провести</button></a>


{% else %}
<br>
<a href="{% url 'inventory_deactivate' number_inv %}"><button class="deactivate">Отменить проведение</button></a>

{% endif %}



{% endblock %}


