{% extends 'shop/start.html' %}


{% block content %}


<br><br><br>
<a href="{% url 'receipt_document_create' %}"><h1>Добавить документ</h1></a>


{% for j in receipt_list_view %}

<h1> Номер: {{j.id}} || Дата: {{j.time_create}} || <a href="{% url 'receipt_document_open' j.id %}"><button class="open_receipt">Открыть документ</button></a> || <a href="{% url 'receipt_document_delete' j.id %}"><button class="delete_receipt">Удалить документ</button></a></h1>

<h3>Комментарий: {{j.comment}}</h3>
<p>__________________________________________________</p>

{% endfor %}




{% endblock %}


