{% extends 'shop/start.html' %}


{% block content %}


<br><br><br><br>


<h1> Номер {{ number }} </h1>
<h1> Номер {{ date }} </h1>

<h3>Название товара | Количество</h3>
<!--тут отрисовка списка товаров-->
{% for i in receipt_good_list %}

<h3>{{ i.product }} | {{ i.quantity }} <a href="{% url 'receipt_delete_goods' i.id %}"><button class="delete_receipt">Удалить товар</button></a></h3>


{% endfor %}

<!-- номер документа прокидывается как параметр в функцию для добавления товара ниже -->
<a href="{% url 'receipt_add_goods' number %}"><h3>Добавить позицию товара</h3></a>

<a href="{% url 'receipt_document_activate' number %}"><button class="activate_receipt">Провести документ</button></a>

{% endblock %}


