{% extends 'shop/start.html' %}


{% block content %}


<br><br><br><br>


<h1> Номер приходного документа: {{ number }} </h1>
<h1> Дата {{ receipt_doc.time_create }} </h1>

<h3>Название товара | Количество</h3>
<!--тут отрисовка списка товаров-->
{% for i in receipt_good_list %}

<h3>{{ i.product }} | {{ i.quantity }}  {% if receipt_doc.state == False %} 
	<a href="{% url 'receipt_document_edit' i.id %}"><button class="edit_receipt">Изменить товар</button></a> 
	<a href="{% url 'receipt_delete_goods' i.id %}"><button class="delete_receipt">Удалить товар</button></a> {% endif %} </h3>


{% endfor %}

<!-- номер документа прокидывается как параметр в функцию для добавления товара ниже -->
{% if receipt_doc.state == False %}
<a href="{% url 'receipt_add_goods' number %}"><h3>Добавить позицию товара</h3></a>

<a href="{% url 'receipt_document_activate' number %}"><button class="activate_receipt">Провести документ</button></a>

{% else %}

<a href="{% url 'receipt_document_deactivate' number %}"><button class="deactivate_receipt">Отмена проведения документа</button></a>

{% endif %}


{% endblock %}


