{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>УЧЕТ ТОВАРОВ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'shop/css/bootstrap.css' %}"> -->
	
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
-->

</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{% static 'shop/images/logo.jpg' %}" alt="Лого">
	<h1>{{ org.name_org }}</h1>
	<h1>Выберите нужный раздел (слева) для ваших целей!</h1>
	

	{% if request.user.is_authenticated %}

	<p>{{user.username}}</p>
	<p><a href="{% url 'regusers:logout' %}">Выйти</a>	</p>
	
{% else %}

<!-- 	<a href="{% url 'regusers:login' %}"><p>Войти</p></a>
	<a href="{% url 'regusers:register' %}"><p>Регистрация</p></a> -->
				{% endif %}


</header>



<!--Боковая панель слева. Он не меняется и будет стандартным, группы будут тянуться из базы-->
	<aside>

		<!--<span class="logo">Товары</span>-->
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<a href="{% url 'synchronization' %}"><button class="synchro">Синхронизация</button></a>

<h2><a href="{% url 'order_list' %}">Список заказов</a></h2>

<h2><a href="{% url 'goods_list' %}">Список товаров</a></h2>

<h2><a href="{% url 'receipt_list' %}">Список приходных документов</a></h2>

<h2><a href="{% url 'expense_list' %}">Список расходных документов</a></h2>	
			

	</aside>

<!--Основная часть в середине, она будет меняться-->
<main>
<!-- <br><br><br><br><br><br><br><br><br><br><br> -->

<br><br><br>
{% block content %}








	{% endblock %}




</main>

<div class="footer">
	<p>Телефон: {{ org.phone }}</p>
	<p>Информация о нас: {{ org.about }}</p>

</div>


	
</body>
</html>