{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>УЧЕТ ТОВАРОВ</title>
	<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'shop/css/bootstrap.css' %}"> -->
	
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
-->

</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{% static 'shop/images/logo.jpg' %}" alt="Лого">
	<h1>{{ org.name_org }}</h1>
	
	

	{% if request.user.is_authenticated %}

	<p>{{user.username}}</p>
	<a href="{% url 'regusers:logout' %}"><p>Выйти</p></a>	
	
{% else %}

<!-- 	<a href="{% url 'regusers:login' %}"><p>Войти</p></a>
	<a href="{% url 'regusers:register' %}"><p>Регистрация</p></a> -->
				{% endif %}
<a href="{% url 'synchronization' %}"><button class="synchro">Синхронизация</button></a>

<a href="{% url 'order_list' %}"><h2>Список заказов</h2></a>

<a href="{% url 'goods_list' %}"><h2>Список товаров</h2></a>

<a href="{% url 'goods_add' %}"><h2>Добавить товар</h2></a>

<a href="{% url 'group_add' %}"><h2>Добавить группу товара</h2></a>

<a href="{% url 'receipt_list' %}"><h2>Список приходных документов</h2></a>

</header>



<!--Боковая панель слева. Он не меняется и будет стандартным, группы будут тянуться из базы-->
	<aside>

		<!--<span class="logo">Товары</span>-->
		<br><br><br><br><br><br><br><br><br><br>
		
			

	</aside>

<!--Основная часть в середине, она будет меняться-->
<main>
<!-- <br><br><br><br><br><br><br><br><br><br><br> -->


{% block content %}




<br>



	{% endblock %}




</main>

<div class="footer">
	<!-- <p>Телефон: {{ org.phone }}</p>
	<p>Информация о нас: {{ org.about }}</p> -->

</div>


	
</body>
</html>