{% extends 'showcase/start.html' %}

{% block content %}

<br><br><br><br><br><br>

<form action="{% url 'regusers:restore_password' %}" method="post">
 {% csrf_token %}

<p><label class="form-label" for="{{ form.password1.id_for_label }}">Новый пароль: </label>{{ form.password1 }}</p>
<p><label class="form-label" for="{{ form.password2.id_for_label }}">Повторите пароль: </label>{{ form.password2 }}</p>

<div class="form-error">{{ f.errors }}</div>

<button type="submit">Сохранить изменения</button>

</form>

{% endblock %}



