<!-- тут идет подключение базового шаблона. Его можно подключать из любой папки templates любого приложения проекта. Так как в итоге происходит объединение всех папок templates во всем проекте и можно указать просто название приложения и нужный нам шаблон -->
{% extends 'showcase/start.html' %}

<!--{% block title %}Корзина{% endblock %}-->

{% block content %}
<h1>Корзина</h1>
<p>Покупки</p>




{% for i in basket %}

<h1> Название товара: {{i.product.name_product}}</h1>


<p>Цена: {{ i.quantity }}</p>





{% endfor %}

{% endblock %}
