{% extends 'showcase/start.html' %}


{% block content %}



{% for j in count_order %}

<h3>Номер заказа: {{ j.id }}</h3>

{% for i in order_list %}

<!-- order_list - это список заказов отфильтрованный по пользаку. Мы тут проверяем если id контакта равен номеру заказа, то выводим заказ. Сделал так, чтобы отобразить номер заказа. Надо исправить, так как база контактов потом будет сильно тормозить... -->

{% if i.order_number == j.id %}

{% if i.state == True %}

<h4> Название товара: {{ i.product.name_product }} || Количество: {{ i.quantity }} || Цена: {{ i.product.price }} || Время создания: {{ i.time_create }} || Состояние: {{ i.state_order.value }} </h4>

{% else %}

<h4>Товар удален! Закажите другой.</h4>

{% endif %}



{% endif %}

{% endfor %}
{% endfor %}


{% endblock %}