{% extends 'showcase/start.html' %}



{% block content %}



<form action="{{ url_for('contacts_form') }}" method="post">
  
    <p><input name="fio" placeholder="введите ФИО"></p>
    
    <p><input name="phone" placeholder="Телефон"></p>
    <br>
    <p><input name="delivery_address" placeholder="адрес доставки"></p>
    <br>
    <p><input name="pay" placeholder="Способ оплаты"></p>
    <br>
  
  <input type="submit" value="Оформить заказ" />


</form>
<br>

<h3>{{ error }}</h3>


{% endblock %}