body {
	background: lightgrey;
}

header{
position: fixed;
float: top;
background: slategrey;
height: 20vh;
padding: 2.5%;
color: #fff; /* Цвет текста */
width: 100%; /* Ширина слоя */
}

header h1{
color: black;
text-align: center;
}

header p{
text-align: right;
color: black;
}

aside{
	float: left;
	background: burlywood;
	width: 20%;
	padding: 2.5%;
	height: 100vh;
	color: white;
	border-right: 5px solid slategrey;
}

header img {
	filter: invert(1);
	width: 150px;
	float: left;
}

aside .logo {
	font-size: 38px;	
	font-weight: bold;
	position: relative;
	top: -10px;
	left: 10px;
}

aside h3 {
	margin-top: 50px;
	font-size: 28px;
}


aside ul {list-style: initial;}

aside ul li {
	color: black;
	display: block;
	margin-top: 20px;
	transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
	color: red;
	text-decoration: none;
	transform: scale(1.05);
}

main .sale {
float: left;
color: black;
margin-top: 100px;
text-align: center;
width: 75%;
}

main .sale h1 { font-size: 50px;}
main .sale p { max-width: 400px; margin: 20px auto;}



footer{
position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}



footer p{
text-align: left;
color: black;
}

