<!-- тут идет подключение базового шаблона. Его можно подключать из любой папки templates любого приложения проекта. Так как в итоге происходит объединение всех папок templates во всем проекте и можно указать просто название приложения и нужный нам шаблон -->
{% extends 'showcase/start.html' %}

<!--{% block title %}Корзина{% endblock %}-->

{% block content %}
<h1>Корзина</h1>
<p>Покупки</p>

<p>Итоговое количество= {{ basket.total_quantity }}</p>
<h4>Итоговая сумма= {{ basket.total_sum }}</h4>

{% for i in basket %}

<h1> Название товара: {{i.product}}</h1>
<input name="basketID" type="number" value="{{ i.quantity }}" min="0">

<p>Цена: {{ i.product.price }}</p>
<p>Сумма цена * количество: {{ i.sum }}</p>


<a href="{% url 'clear_basket' i.id %}"><p>Удалить</p></a>

{% if not i.photo %}
<p><img class="product-img" src="{{i.photo.url}}"></p>
{% endif %}



{% endfor %}

{% endblock %}
