<!-- тут идет подключение базового шаблона. Его можно подключать из любой папки templates любого приложения проекта. Так как в итоге происходит объединение всех папок templates во всем проекте и можно указать просто название приложения и нужный нам шаблон -->
{% extends 'showcase/start.html' %}

<!--{% block title %}Корзина{% endblock %}-->

{% block content %}
<h1>Корзина</h1>
<p>Покупки</p>
<a href="{% url 'clear_basket' %}"><h3>Очистить корзину</h3></a>

{% for i in product_in_basket %}

<h1> Название товара: {{i.product}}</h1>
<p> Количество: {{ i.quantity }}</p>


{% if not i.photo %}
<p><img class="product-img" src="{{i.photo.url}}"></p>
{% endif %}



{% endfor %}

{% endblock %}
