{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ИНТЕРНЕТ МАГАЗИН</title>
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/bootstrap.css' %}">
	
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
-->

</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{% static 'showcase/images/i.jpg' %}" alt="Лого">
<h1>Название Магазина</h1>

	<p>Войти</p>
	<p>Регистрация</p> 
	<a href="{% url 'basket'%}"><p>Корзина</p></a>
</header>



<!--Боковая панель слева. Он не меняется и будет стандартным, группы будут тянуться из базы-->
	<aside>

		<!--<span class="logo">Товары</span>-->
		<br><br><br><br><br>
		<a href="{% url 'all_group'%}"><i class="fa-thin fa-house"></i><h3>Группы товаров</h3></a>
			
{% for i in dat %}

			<a href="{{ i.get_absolute_url }}"><p>{{i.name_group}}</p></a>
			
{% endfor %}


	</aside>

<!--Основная часть в середине, она будет меняться-->
<main>
	{% block content %}
	{% endblock %}



</main>

<footer>
	<p>Контакты</p>
	<p>Информация о нас</p>

</footer>

	
</body>
</html>