{% load static %}
{% load showcase_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ИНТЕРНЕТ МАГАЗИН</title>
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/bootstrap.css' %}">
	
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
-->

</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{% static 'showcase/images/i.jpg' %}" alt="Лого">
<h1>{{ org.name_org }}</h1>

	<a href="{% url 'login' %}"><p>Войти</p></a>
	<a href="{% url 'register' %}"><p>Регистрация</p></a>
	<a href="{% url 'logout' %}"><p>Выйти</p></a>
	<a href="{% url 'basket'%}"><p>Корзина</p></a>
</header>



<!--Боковая панель слева. Он не меняется и будет стандартным, группы будут тянуться из базы-->
	<aside>

		<!--<span class="logo">Товары</span>-->
		<br><br><br><br><br>
		<a href="{% url 'start' %}"><i class="fa-thin fa-house"></i><h3>Группы товаров</h3></a>
			
{% show_gr %}


	</aside>

<!--Основная часть в середине, она будет меняться-->
<main>
<br><br><br><br><br><br><br><br><br>


{% for j in gd %}

<h1> Название товара {{j.name_product}}</h1>
<p> Цена {{j.price}}</p>
<p> Доступна для продажи {{j.availability}}</p>

{% if j.photo %}
<p><img class="product-img" src="{{j.photo.url}}"></p>
{% endif %}

<!--форма для добавления корзины -->
<form action="{% url 'start' %}" method="post">
	{% csrf_token %}
<div class="form-group">	
	<p><label class="form-label" for="{{ form.quantity.id_for_label }}">{{form.quantity.label}}: </label>{{ form.quantity }}</p>
</div>



<button type="submit">Добавить в корзину</button>

</form>
<!--конец форма -->



{% endfor %}
	{% block content %}

	{% endblock %}



</main>

<footer>
	<p>Телефон: {{ org.phone }}</p>
	<p>Информация о нас: {{ org.about }}</p>

</footer>

	
</body>
</html>