{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'showcase/css/bootstrap.css' %}">
	
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
-->

</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{% static 'showcase/images/i.jpg' %}" alt="Лого">
<h1>Название Магазина</h1>

	<p>Войти</p>
	<p>Регистрация</p>

</header>



<!--Боковая панель слева. Он не меняется и будет стандартным-->
	<aside>

		<!--<span class="logo">Товары</span>-->
		<br><br><br><br><br>
		<h3>Группы товаров</h3>
		<ul>
			<a href="{% url 'start'%}"><li><i class="fa-thin fa-house"></i>Группа 1</li></a>
			<a href="{% url 'basket'%}"><li><i class="fa-thin fa-cart-shopping"></i>Группа 2</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
			<a href=""><li><i class="fa-thin fa-paper-plane"></i>Группа 3</li></a>
		</ul>


	</aside>

<!--Основная часть в середине, она будет меняться-->
<main>
	{% block content %}
	{% endblock %}


</main>


<footer>
	<p>Контакты</p>
	<p>Информация о нас</p>

</footer>


	
</body>
</html>